@import "compass/css3";
.user {
	
	.avatar {
		width: 55px;
		height: 65px;
		margin: 10px;
	}

	.desc {
		padding: 10px;
		word-break: break-all;
	}

	.fav {
		.fav-title {
			background: #555;
			color: white;
			text-align: center;
			font-size: 16px;
			line-height: 25px;
			height: 25px;
		}

		ul.favs {

			li {
				&:first-child {
					border-top: none;
				}

				height: 40px;
				border-top: 1px solid #fff;
				background: #ddd;
				border-bottom: 1px solid #9a9a9a;

				.title {
					padding-left: 5px;
					font-size: 18px;
					height: 26px;
					line-height: 26px;
				}

				.artist {
					padding-left: 5px;
					color: #999;
					font-size: 8px;
					height: 14px;
					line-height: 14px;
				}

				.add {
					background: url(../images/add.png) center center no-repeat;
					@include background-size(20px 20px);
					cursor: pointer;
				}

				.listen {
					background: url(../images/listen.png) center center no-repeat;
					@include background-size(20px 20px);
				}
			}

		}
	}
}